body {
  background: $general-bg-color url($background-image) center center;
  background-size: cover;
  color: $general-fg-color;
  font-family: $font-family;
  font-size: $font-size;
}

.header-banner {
  background: url($header-banner-bg-image) no-repeat top left;
  min-height: 120px;
  max-width: 206px;
  width: 100%;
}
