/**
 * Grid settings
 */

$layout-columns: 12;
$layout-gutter-width: 20px;
$layout-max-width: 1280px;

/**
 * Color scheme
 */
$general-bg-color: #1f1f1f;
$general-fg-color: #f7f7f7;

/**
 * Fonts
 */
$font-family: 'Open Sans', Helvetica, Arial, sans-serif;
$font-size: 14px;

/**
 * Background
 */
$background-image: '../images/background@0,25x.jpg';
$medium-background-image: '../images/background@0,5x.jpg';
$large-background-image: '../images/background.jpg';

/**
 * Header banner
 */
$header-banner-bg-image: '../images/header.jpg';
$header-banner-min-height: 120px;
$header-banner-max-height: 206px;
